<h1>New post</h1>
<form action="/new" method="POST">
  <textarea name ="content" class="form-control" rows="6" placeholder="Type text here"></textarea> </br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>